<div class="jumbotron">
  <h1 class="display-4">Hola {{nombre}}</h1>
  <p class="lead">La fecha de hoy es {{fecha}}</p>
  <hr class="my-4">
  <p class="text-success">Bienvenido a este primer servidor</p>
  <p class="lead">
    <a class="btn btn-dark btn-lg" href="#" role="button">Continuar</a>
  </p>
</div>

