var path = require('path');
const webpack = require('webpack');
const htmlWebPackPlugin = require('html-webpack-plugin');


module.exports = {

    mode : 'development',
    entry : './Client/index.html',
    output : {
        path : path.join(__dirname, 'dist'),
        filename: bundle.js
    },
    module : { [

        rules : {
            use: ['style-loader', 'css-loader']
        }
    ]}
    ,
    plugins :
    [
        new htmlWebPackPlugin({
        template: './Client/IndexB.html'
     })
    ]
}