table {
    border: solid 1px gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
}

img {
    width: 20%;
    height: 60px;
}

td,
th {
    border: 1px solid gray;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(45, 216, 202);
}

input[type=submit] {
    width: 25%;
    background-color: white;
    color: red;
    padding: 10px 14px;
    cursor: pointer;
    margin-left: 25%;
}

input[type=reset] {
    width: 25%;
    background-color: white;
    color: red;
    padding: 10px 14px;
}

form {
    background-color: rgb(0, 102, 255);
}